@font-face {
    font-family: "Oliver";
    font-weight: normal;
    src: url("fonts/Oliver-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;

}

a {
    text-decoration: none;
    color: #000
}

::selection {
    background: #000;
    color: #fff;
}


html,
body {
    overflow: hidden;
    background: #777;
    color: #000;
    font-family: 'SUITE',
        sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}

.loading-bar {
    position: absolute;
    z-index: 10;
    top: 70%;
    width: 100%;
    height: 4px;
    background: #000;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.loading-title {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.loading-title h1 {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 10px;
    font-family: 'Oliver', sans-serif;
}

.loading-title p {
    font-size: 14px;
}

.loading-title.fade-out {
    opacity: 0;
    transition: opacity 1s;
}

.logo-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    border: none;
    background: none;
}

.logo-btn:hover {
    opacity: 0.5;
}