@font-face {
  font-family: "Oliver";
  font-weight: normal;
  src: url("fonts/Oliver-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'SUITE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: #000;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #777;
  color: #000;
  font-family: "SUITE", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  
}
.p5Canvas{
  position: absolute;
  top:120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  border: rgb(0, 0, 255) solid 1px;
  box-decoration-break: slice;
}

#toolBar2{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
}

#button2{
  background-color: #d9d9d9;
  z-index: 1;
}

.button_area{
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#button3{
  width:150px;
  height: 20px;
  background-color: #d9d9d9;
  z-index: 1;
}

button {
  background: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}


#result{
  position: relative;
  display: justify;
  justify-items: left;
  width: 360px;
  top: 10px;
  left: 0px;
  height: 54px;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;
}

#result img{
  height: 50px;
  border: #000;
  margin: 0px 10px 0px 10px;
}

::selection {
  background: #000;
  color: #fff;
}

.container{
  position: absolute;
  top: 600px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.input2{
  position: absolute;
  top: 470px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
#textinput{
  width: 350px;
  height: 40px;
  border: none;
  font-size: large;
  text-align: center;
}
.Rectangle-18 {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 350px;
  height: 100%;
  padding: 38px 35px 22px;
  background-color: #d9d9d9;
  z-index: 1;
}
.input1{
  position: absolute;
  top: 30px;
  left: 50%;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  font-family: "SUITE", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  transform: translate(-50%, 0%);
  padding: 0 0 0 10px;
  z-index: 1;
}
.title2 {
  opacity: 1;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 8px 10px;
  border-radius: 8px;
  width: fit-content;
  font-family: "Oliver", sans-serif;
  color: #000;
  font-weight: 200;
  font-size: 32px;
  transition: all 0.3s;
  z-index: 1;
}
.title3 {
  opacity: 1;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px 10px;
  border-radius: 8px;
  width: fit-content;
  font-family: "Oliver", sans-serif;
  color: #000;
  font-weight: 200;
  font-size: 24px;
  transition: all 0.3s;
  z-index: 1;
}

.explain{
  position: absolute;
  width: 357px;
  height: 410px;
  top:39px;
  right: 39px;
  font-family: "SUITE";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.explain .text-style-1 {
  font-size: 20px;
}

.explain2 {
  position: absolute;
  bottom:53px;
  left: 50px;
  width: 357px;
  height: 366px;
  margin: 247px 46px 52px 0;
  font-family: "SUITE";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.explain2 .Text-Style {
  font-size: 20px;
}

.start-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  z-index: 500;
  background: #fff;
  font-family: 'Olivier', sans-serif;
}

.start-title {
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Oliver", sans-serif;
}

.start-btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-family: "Oliver",
    sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.start-btn:hover {
  background: #fff;
  color: #000;
  transition: all 0.3s;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.loading-bar {
  position: absolute;
  z-index: 10;
  top: 60%;
  width: 100%;
  height: 4px;
  background: #000;
  transform: scaleX(0.3);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.loading-title {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  pointer-events: none;
}

.loading-title h1 {
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 10px;
  font-family: "Oliver", sans-serif;
}

.loading-title p {
  font-size: 14px;
}

.loading-title.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.logo-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  border: none;
  background: none;
}

.logo-svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.title {
  opacity: 1;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px 10px;
  border-radius: 8px;
  width: fit-content;
  font-family: "Oliver", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  transition: all 0.3s;
  z-index: 1;
}

.back-btn {
  display: none;
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  border: none;
  background: none;
  color: #fff;
  font-size: large;
  font-family: "Oliver", sans-serif;
}

.modal {
  width: 50%;
  min-width: 355px;
  z-index: 100;
  opacity: 0;
  position: fixed;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #111;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-family: "Oliver", sans-serif;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal.on {
  bottom: 20px;
  opacity: 1;
  transition: all 1s ease-in;
}

.modal-acc {
  height: fit-content;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.topContainer {
  font-family: "SUIT", sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
  font-size: 16px;
  line-height: 24px;
}

.bottomContainer {
  width: 100%;
  height: 100%;
  font-family: "SUIT", sans-serif;
  padding: 16px 10px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  background: none;
  font-weight: normal;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.bottomContainer:last-child {
  border-right: none;
}

.bottomContainer:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.floorBox {
  display: none;
  opacity: 0;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 300;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.submenu2 {
  display: absolute;
  bottom: 40px;
  opacity: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.submenu2-tab {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 6px 12px;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  min-width: 80px;
  justify-content: center;
  align-items: center;
  font-family: "SUITE", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

label{
  height:100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin-bottom: 10px;
  font-size: 100px;
  background: linear-gradient(45deg, #000, #fff);
}

.bar{
  height: 50px;
  width: 500px;
  background: gray;
}

.progress{
  background: linear-gradient(12deg,red,blue);
  height: 100%;
  width: 5%;;
}

.uploadPercentage{
  font-size: 25px;
}


/* desktop 규격 */
@media screen and (min-width: 1024px) {
  .logo-btn:hover {
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
  }

  .back-btn:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }

  .menu-tab:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
}

/* mobile 규격 */
@media screen and (max-width: 540px) {
  .logo-btn:active {
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
  }

  .back-btn:active {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }

  .menu-tab:active {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
}